<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.study.mapper.BlogMapper">


    <resultMap id="blogMap" type="com.yc.study.entity.Blog">
        <collection property="comments" column="id" select="selectCommentsByBlogId" fetchType="eager"/>
    </resultMap>
    <resultMap id="CommentMap" type="com.yc.study.entity.Comment">
        <association property="blog"  column="blog_id" select="selectBlogByBlogId" fetchType="eager"/>
    </resultMap>
    <select id="selectBlogByBlogId" resultMap="blogMap">
        select *
        from test.t_blog
        where id = #{blog_id}
    </select>
    <select id="selectCommentsByBlogId" resultMap="CommentMap">
        select * from test.t_comment where blog_id=#{blog_id}
    </select>

    <!-- 懒加载 -->
    <resultMap id="blogMapByLazy" type="com.yc.study.entity.Blog">
        <id column="id" property="id"/>
        <collection property="comments" column="id" select="selectCommentsByBlogIdByLazy" fetchType="lazy"/>
    </resultMap>
    <select id="selectCommentsByBlogIdByLazy" resultType="com.yc.study.entity.Comment">
        select * from test.t_comment where blog_id=#{blog_id}
    </select>
    <select id="selectBlogByBlogIdByLazy" resultMap="blogMapByLazy">
        select *
        from test.t_blog
        where id = #{blog_id}
    </select>



    <!--联合查询-->
     <resultMap id="NestedMap" type="com.yc.study.entity.Blog">
         <id property="id" column="id"/>
         <collection property="comments" ofType="com.yc.study.entity.Comment" autoMapping="true" columnPrefix="comment_">
                 <association property="blog" javaType="com.yc.study.entity.Blog" resultMap="NestedMap"/>
         </collection>
     </resultMap>
    <select id="selectBlogByNestedQuery" resultMap="NestedMap">
        select b.id,b.title,c.id as comment_id ,c.body as comment_body from test.t_blog b left join test.t_comment c  on b.id=c.blog_id where b.id=#{blog_id};
    </select>
</mapper>